$icomoon-font-family: "weoicons" !default;
$icomoon-font-path: "fonts" !default;

$weo-cloud: "\e900";
$weo-cloud-alert: "\e901";
$weo-cloud-disconnect: "\e902";
$weo-cloud-download: "\e903";
$weo-cloud-error: "\e904";
$weo-cloud-synk: "\e905";
$weo-cloud-upload: "\e906";
$weo-cloud-waiting: "\e907";
$weo-element-battery: "\e908";
$weo-element-bluetooth: "\e909";
$weo-element-chat: "\e90a";
$weo-element-document: "\e90b";
$weo-element-loader: "\e90c";
$weo-element-mouse: "\e90d";
$weo-element-share: "\e90e";
$weo-element-wifi: "\e90f";
$weo-navigation-arrow-down: "\e910";
$weo-navigation-arrow-left: "\e911";
$weo-navigation-arrow-right: "\e912";
$weo-navigation-arrow-up: "\e913";
$weo-navigation-cross: "\e914";
$weo-navigation-plus: "\e915";
$weo-navigation-refresh: "\e916";
$weo-navigation-reload: "\e917";
$weo-activity: "\e918";
$weo-add: "\e919";
$weo-add-circle: "\e91a";
$weo-add-squre: "\e91b";
$weo-airplane: "\e91c";
$weo-airplane-landing: "\e91d";
$weo-airplane-takeoff: "\e91e";
$weo-airplay: "\e91f";
$weo-album: "\e920";
$weo-alerm: "\e921";
$weo-alert: "\e922";
$weo-alert-circle: "\e923";
$weo-align-bottom: "\e924";
$weo-align-horizontally: "\e925";
$weo-align-left: "\e926";
$weo-align-right: "\e927";
$weo-align-top: "\e928";
$weo-align-vertically: "\e929";
$weo-angle: "\e92a";
$weo-app: "\e92b";
$weo-arrow-down: "\e92c";
$weo-arrow-left: "\e92d";
$weo-arrow-left-down: "\e92e";
$weo-arrow-left-up: "\e92f";
$weo-arrow-outline-down: "\e930";
$weo-arrow-outline-left: "\e931";
$weo-arrow-outline-right: "\e932";
$weo-arrow-outline-up: "\e933";
$weo-arrow-right: "\e934";
$weo-arrow-right-down: "\e935";
$weo-arrow-right-up: "\e936";
$weo-arrow-up: "\e937";
$weo-artboard: "\e938";
$weo-attachment: "\e939";
$weo-attachment-s: "\e93a";
$weo-award: "\e93b";
$weo-badminton: "\e93c";
$weo-bag: "\e93d";
$weo-bar-chart: "\e93e";
$weo-baseball: "\e93f";
$weo-basketball: "\e940";
$weo-battery: "\e941";
$weo-battery-charging: "\e942";
$weo-battery-low: "\e943";
$weo-battery-off: "\e944";
$weo-bear: "\e945";
$weo-beer: "\e946";
$weo-bicycle: "\e947";
$weo-bluetooth: "\e948";
$weo-bluetooth-off: "\e949";
$weo-book: "\e94a";
$weo-book-2: "\e94b";
$weo-bookmark: "\e94c";
$weo-bookmark-add: "\e94d";
$weo-bookmark-remove: "\e94e";
$weo-book-open: "\e94f";
$weo-bottle: "\e950";
$weo-box: "\e951";
$weo-bra: "\e952";
$weo-briefcase: "\e953";
$weo-browser: "\e954";
$weo-brush: "\e955";
$weo-bucket: "\e956";
$weo-bug: "\e957";
$weo-bus: "\e958";
$weo-calculator: "\e959";
$weo-calender: "\e95a";
$weo-calender-add: "\e95b";
$weo-calender-check: "\e95c";
$weo-camera: "\e95d";
$weo-camera-focus: "\e95e";
$weo-camera-off: "\e95f";
$weo-camera-switch: "\e960";
$weo-capsule: "\e961";
$weo-car: "\e962";
$weo-caret-down: "\e963";
$weo-caret-up: "\e964";
$weo-cat: "\e965";
$weo-cat-angry: "\e966";
$weo-category: "\e967";
$weo-cat-laugh: "\e968";
$weo-cat-stripe: "\e969";
$weo-check: "\e96a";
$weo-checkbox: "\e96b";
$weo-check-circle: "\e96c";
$weo-check-square: "\e96d";
$weo-chevrons-left: "\e96e";
$weo-chevrons-right: "\e96f";
$weo-chicken: "\e970";
$weo-city: "\e971";
$weo-clipboard: "\e972";
$weo-close: "\e973";
$weo-close-circle: "\e974";
$weo-close-square: "\e975";
$weo-cloth: "\e976";
$weo-cloud-alt: "\e977";
$weo-cloud-off: "\e978";
$weo-code: "\e979";
$weo-coffee: "\e97a";
$weo-coin: "\e97b";
$weo-color: "\e97c";
$weo-column: "\e97d";
$weo-compass: "\e97e";
$weo-contact: "\e97f";
$weo-conversation: "\e980";
$weo-copy: "\e981";
$weo-corner-down-left: "\e982";
$weo-corner-down-right: "\e983";
$weo-countdown: "\e984";
$weo-credit-card: "\e985";
$weo-crop: "\e986";
$weo-cursor: "\e987";
$weo-dashboard: "\e988";
$weo-delete: "\e989";
$weo-devil: "\e98a";
$weo-diamond: "\e98b";
$weo-disc: "\e98c";
$weo-dislike: "\e98d";
$weo-distribute-horizontally: "\e98e";
$weo-distribute-vertically: "\e98f";
$weo-diving: "\e990";
$weo-dog: "\e991";
$weo-dog-angry: "\e992";
$weo-dog-husky: "\e993";
$weo-dog-laugh: "\e994";
$weo-dog-with-bell: "\e995";
$weo-donate: "\e996";
$weo-donut-chart: "\e997";
$weo-dowload: "\e998";
$weo-dowload-cloud: "\e999";
$weo-dresses: "\e99a";
$weo-drink: "\e99b";
$weo-drop: "\e99c";
$weo-dropper: "\e99d";
$weo-edit-1: "\e99e";
$weo-eject: "\e99f";
$weo-emergency: "\e9a0";
$weo-emoji: "\e9a1";
$weo-external-link: "\e9a2";
$weo-eye: "\e9a3";
$weo-eye-off: "\e9a4";
$weo-factory: "\e9a5";
$weo-fast-forward: "\e9a6";
$weo-favorite: "\e9a7";
$weo-favorite-off: "\e9a8";
$weo-female: "\e9a9";
$weo-file: "\e9aa";
$weo-file-add: "\e9ab";
$weo-film: "\e9ac";
$weo-filter: "\e9ad";
$weo-fire: "\e9ae";
$weo-fish: "\e9af";
$weo-flag: "\e9b0";
$weo-flash: "\e9b1";
$weo-flash-off: "\e9b2";
$weo-flip-horizontal: "\e9b3";
$weo-flip-vertical: "\e9b4";
$weo-floder: "\e9b5";
$weo-floder-add: "\e9b6";
$weo-food: "\e9b7";
$weo-fridge: "\e9b8";
$weo-fullscreen: "\e9b9";
$weo-fullscreen-exit: "\e9ba";
$weo-game: "\e9bb";
$weo-gas-station: "\e9bc";
$weo-ghost: "\e9bd";
$weo-gift: "\e9be";
$weo-glass: "\e9bf";
$weo-google-cast: "\e9c0";
$weo-google-cast-connected: "\e9c1";
$weo-gradient: "\e9c2";
$weo-graph: "\e9c3";
$weo-grave: "\e9c4";
$weo-grid: "\e9c5";
$weo-headphone: "\e9c6";
$weo-health: "\e9c7";
$weo-help: "\e9c8";
$weo-high-heels: "\e9c9";
$weo-home: "\e9ca";
$weo-hourglass: "\e9cb";
$weo-icecream: "\e9cc";
$weo-inbox: "\e9cd";
$weo-indent-decrease: "\e9ce";
$weo-indent-increase: "\e9cf";
$weo-info: "\e9d0";
$weo-key: "\e9d1";
$weo-keyboard: "\e9d2";
$weo-label: "\e9d3";
$weo-landscape: "\e9d4";
$weo-language: "\e9d5";
$weo-laptop: "\e9d6";
$weo-layers: "\e9d7";
$weo-light: "\e9d8";
$weo-light-2: "\e9d9";
$weo-lightning: "\e9da";
$weo-like: "\e9db";
$weo-line-chart: "\e9dc";
$weo-link: "\e9dd";
$weo-link-2: "\e9de";
$weo-link-broken: "\e9df";
$weo-list: "\e9e0";
$weo-list-add: "\e9e1";
$weo-list-check: "\e9e2";
$weo-location: "\e9e3";
$weo-location-off: "\e9e4";
$weo-lock: "\e9e5";
$weo-lock-open: "\e9e6";
$weo-magic-wand: "\e9e7";
$weo-magnet: "\e9e8";
$weo-mail: "\e9e9";
$weo-mail-add: "\e9ea";
$weo-mail-at: "\e9eb";
$weo-mail-open: "\e9ec";
$weo-male: "\e9ed";
$weo-man: "\e9ee";
$weo-map: "\e9ef";
$weo-menu: "\e9f0";
$weo-message: "\e9f1";
$weo-message-outline: "\e9f2";
$weo-message-text: "\e9f3";
$weo-microphone: "\e9f4";
$weo-microphone-off: "\e9f5";
$weo-milk-carton: "\e9f6";
$weo-money: "\e9f7";
$weo-monitor: "\e9f8";
$weo-more-horizontal: "\e9f9";
$weo-more-vertical: "\e9fa";
$weo-motorcycle: "\e9fb";
$weo-mouse: "\e9fc";
$weo-mousic: "\e9fd";
$weo-move-backward: "\e9fe";
$weo-move-forward: "\e9ff";
$weo-music-2: "\ea00";
$weo-music-list: "\ea01";
$weo-navigation: "\ea02";
$weo-newspaper: "\ea03";
$weo-notification: "\ea04";
$weo-notification-off: "\ea05";
$weo-notification-ringing: "\ea06";
$weo-notification-snooze: "\ea07";
$weo-notification-time: "\ea08";
$weo-nuclear: "\ea09";
$weo-paint-roller: "\ea0a";
$weo-paper-box: "\ea0b";
$weo-paper-cup: "\ea0c";
$weo-pause: "\ea0d";
$weo-pause-circle: "\ea0e";
$weo-pen: "\ea0f";
$weo-pent: "\ea10";
$weo-phone: "\ea11";
$weo-phone-hang-up: "\ea12";
$weo-phone-incoming: "\ea13";
$weo-phone-missed: "\ea14";
$weo-phone-off: "\ea15";
$weo-phone-outgoing: "\ea16";
$weo-phone-talking: "\ea17";
$weo-photo: "\ea18";
$weo-pie-chart: "\ea19";
$weo-pig: "\ea1a";
$weo-piggy-bank: "\ea1b";
$weo-pin: "\ea1c";
$weo-pizza: "\ea1d";
$weo-play: "\ea1e";
$weo-play-circle: "\ea1f";
$weo-playlist: "\ea20";
$weo-plug: "\ea21";
$weo-popsicle: "\ea22";
$weo-position: "\ea23";
$weo-post: "\ea24";
$weo-post-add: "\ea25";
$weo-power: "\ea26";
$weo-profile-circle: "\ea27";
$weo-public: "\ea28";
$weo-qrcode: "\ea29";
$weo-quote: "\ea2a";
$weo-radar-scan: "\ea2b";
$weo-radio: "\ea2c";
$weo-redo: "\ea2d";
$weo-refresh: "\ea2e";
$weo-remove: "\ea2f";
$weo-remove-circle: "\ea30";
$weo-remove-square: "\ea31";
$weo-repeat: "\ea32";
$weo-repeat-single: "\ea33";
$weo-report: "\ea34";
$weo-rewind: "\ea35";
$weo-ring: "\ea36";
$weo-roadsign: "\ea37";
$weo-rocket: "\ea38";
$weo-rocket-fly: "\ea39";
$weo-rotate: "\ea3a";
$weo-rss-feed: "\ea3b";
$weo-ruler: "\ea3c";
$weo-scissor: "\ea3d";
$weo-search: "\ea3e";
$weo-security: "\ea3f";
$weo-security-check: "\ea40";
$weo-security-danger: "\ea41";
$weo-security-off: "\ea42";
$weo-send: "\ea43";
$weo-send-2: "\ea44";
$weo-setting: "\ea45";
$weo-setting-2: "\ea46";
$weo-sever: "\ea47";
$weo-shapes: "\ea48";
$weo-share: "\ea49";
$weo-share-2: "\ea4a";
$weo-shoes: "\ea4b";
$weo-shopping-basket: "\ea4c";
$weo-shopping-cart: "\ea4d";
$weo-shuffle: "\ea4e";
$weo-sign-in: "\ea4f";
$weo-sing-out: "\ea50";
$weo-skip-back: "\ea51";
$weo-skip-forward: "\ea52";
$weo-skull: "\ea53";
$weo-slash: "\ea54";
$weo-slice: "\ea55";
$weo-snow: "\ea56";
$weo-sofa: "\ea57";
$weo-sound: "\ea58";
$weo-sox: "\ea59";
$weo-speaker: "\ea5a";
$weo-star: "\ea5b";
$weo-star-helf: "\ea5c";
$weo-star-off: "\ea5d";
$weo-sticker: "\ea5e";
$weo-stop: "\ea5f";
$weo-stop-circle: "\ea60";
$weo-store: "\ea61";
$weo-store-2: "\ea62";
$weo-swap: "\ea63";
$weo-switch: "\ea64";
$weo-sync: "\ea65";
$weo-tablet: "\ea66";
$weo-tag: "\ea67";
$weo-target: "\ea68";
$weo-text: "\ea69";
$weo-text_format: "\ea6a";
$weo-text-align-center: "\ea6b";
$weo-text-align-juastify: "\ea6c";
$weo-text-align-left: "\ea6d";
$weo-text-align-right: "\ea6e";
$weo-texture: "\ea6f";
$weo-thermometer: "\ea70";
$weo-ticket: "\ea71";
$weo-time: "\ea72";
$weo-time-off: "\ea73";
$weo-timer: "\ea74";
$weo-tool: "\ea75";
$weo-transform: "\ea76";
$weo-Tree: "\ea77";
$weo-trending-down: "\ea78";
$weo-trending-up: "\ea79";
$weo-trophy: "\ea7a";
$weo-truck: "\ea7b";
$weo-tune: "\ea7c";
$weo-tune-circle: "\ea7d";
$weo-tune-vertical: "\ea7e";
$weo-tune-vertical-circle: "\ea7f";
$weo-tv: "\ea80";
$weo-umbrella: "\ea81";
$weo-underwear: "\ea82";
$weo-undo: "\ea83";
$weo-update: "\ea84";
$weo-upload: "\ea85";
$weo-upload-cloud: "\ea86";
$weo-usb: "\ea87";
$weo-user: "\ea88";
$weo-user-add: "\ea89";
$weo-user-check: "\ea8a";
$weo-user-error: "\ea8b";
$weo-user-list: "\ea8c";
$weo-user-love: "\ea8d";
$weo-users: "\ea8e";
$weo-users-add: "\ea8f";
$weo-users-talk: "\ea90";
$weo-vector: "\ea91";
$weo-video: "\ea92";
$weo-video-cam: "\ea93";
$weo-video-cam-off: "\ea94";
$weo-volume-down: "\ea95";
$weo-volume-mute: "\ea96";
$weo-volume-off: "\ea97";
$weo-volume-up: "\ea98";
$weo-watch: "\ea99";
$weo-water: "\ea9a";
$weo-wc: "\ea9b";
$weo-weathersunny: "\ea9c";
$weo-weather-downpour: "\ea9d";
$weo-weather-night: "\ea9e";
$weo-weather-partly-night: "\ea9f";
$weo-weather-partly-sunny: "\eaa0";
$weo-weather-shower: "\eaa1";
$weo-weather-stormy: "\eaa2";
$weo-weather-windy: "\eaa3";
$weo-weather-windy-cloudy: "\eaa4";
$weo-wheelchair: "\eaa5";
$weo-wifi: "\eaa6";
$weo-wifi-2: "\eaa7";
$weo-wifi-low: "\eaa8";
$weo-wifi-off: "\eaa9";
$weo-window-add: "\eaaa";
$weo-wine: "\eaab";
$weo-woman: "\eaac";
$weo-zoom-in: "\eaad";
$weo-zoom-out: "\eaae";
$weo-pie-chart1: "\eaaf";
$weo-terminal: "\eab0";
$weo-amazon: "\eab1";
$weo-google: "\eab2";
$weo-google2: "\eab3";
$weo-google3: "\eab4";
$weo-google-plus2: "\eab5";
$weo-google-plus3: "\eab6";
$weo-hangouts: "\eab7";
$weo-google-drive: "\eab8";
$weo-facebook: "\eab9";
$weo-facebook2: "\eaba";
$weo-instagram: "\eabb";
$weo-whatsapp: "\eabc";
$weo-spotify: "\eabd";
$weo-telegram: "\eabe";
$weo-twitter: "\eabf";
$weo-vine: "\eac0";
$weo-vk: "\eac1";
$weo-renren: "\eac2";
$weo-sina-weibo: "\eac3";
$weo-rss: "\eac4";
$weo-rss2: "\eac5";
$weo-youtube: "\eac6";
$weo-youtube2: "\eac7";
$weo-twitch: "\eac8";
$weo-vimeo: "\eac9";
$weo-vimeo2: "\eaca";
$weo-lanyrd: "\eacb";
$weo-flickr: "\eacc";
$weo-flickr2: "\eacd";
$weo-flickr3: "\eace";
$weo-flickr4: "\eacf";
$weo-dribbble: "\ead0";
$weo-behance: "\ead1";
$weo-behance2: "\ead2";
$weo-deviantart: "\ead3";
$weo-500px: "\ead4";
$weo-steam: "\ead5";
$weo-steam2: "\ead6";
$weo-dropbox: "\ead7";
$weo-onedrive: "\ead8";
$weo-github: "\ead9";
$weo-npm: "\eada";
$weo-basecamp: "\eadb";
$weo-trello: "\eadc";
$weo-wordpress: "\eadd";
$weo-joomla: "\eade";
$weo-ello: "\eadf";
$weo-blogger: "\eae0";
$weo-blogger2: "\eae1";
$weo-tumblr: "\eae2";
$weo-tumblr2: "\eae3";
$weo-yahoo: "\eae4";
$weo-yahoo2: "\eae5";
$weo-tux: "\eae6";
$weo-appleinc: "\eae7";
$weo-finder: "\eae8";
$weo-android: "\eae9";
$weo-windows: "\eaea";
$weo-windows8: "\eaeb";
$weo-soundcloud: "\eaec";
$weo-soundcloud2: "\eaed";
$weo-skype: "\eaee";
$weo-reddit: "\eaef";
$weo-hackernews: "\eaf0";
$weo-wikipedia: "\eaf1";
$weo-linkedin: "\eaf2";
$weo-linkedin2: "\eaf3";
$weo-lastfm: "\eaf4";
$weo-lastfm2: "\eaf5";
$weo-delicious: "\eaf6";
$weo-stumbleupon: "\eaf7";
$weo-stumbleupon2: "\eaf8";
$weo-stackoverflow: "\eaf9";
$weo-pinterest: "\eafa";
$weo-pinterest2: "\eafb";
$weo-xing: "\eafc";
$weo-xing2: "\eafd";
$weo-flattr: "\eafe";
$weo-foursquare: "\eaff";
$weo-yelp: "\eb00";
$weo-paypal: "\eb01";
$weo-chrome: "\eb02";
$weo-firefox: "\eb03";
$weo-IE: "\eb04";
$weo-edge: "\eb05";
$weo-safari: "\eb06";
$weo-opera: "\eb07";
$weo-file-pdf: "\eb08";
$weo-file-openoffice: "\eb09";
$weo-file-word: "\eb0a";
$weo-file-excel: "\eb0b";
$weo-html-five: "\eb0c";
$weo-html-five2: "\eb0d";
$weo-css3: "\eb0e";
$weo-git: "\eb0f";
$weo-codepen: "\eb10";
$weo-svg: "\eb11";

